:root {
    --black: #000000;
    --white: #FFFFFF;
    --Lpurple:#A538FF;
    --Dpurple:#7A21D4;
    background: var(--black);
    color: var(--white);
    font-family: myFont;
}

:root[data-theme="light"] {
    --black: #FFFFFF;
    --white: #000000;
    --Lpurple:#7A21D4;
    --Dpurple:#A538FF;
}

li {
    margin: 0;
}

ul {
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: myFont;
  src: url(../hack/Hack-Regular.ttf);
}

@font-face {
  font-family: myFont;
  src: url(../hack/Hack-Bold.ttf);
  font-weight: bold;
}

Header {
    width: 100%;
}

h1, h2, h3 {
    text-align: center;
}

h1, h2 {
    margin: 2rem auto 1rem auto;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3rem;
    margin: 1rem;
}

p {
    margin: 0;
    font-size: .875rem;
}

.nav {
    background: var(--black);
    color: var(--Lpurple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

nav {
    border-bottom: .125rem solid var(--Lpurple);
}

nav a, footer a {
    color: var(--Lpurple);
    text-decoration: none;
    font-size: 2rem;
}

#nav_options li{
    display: inline-block;
    margin-left: 2rem;
}

#name_Nav {
    font-size: 3.5rem;
    font-weight: 700;
}

#light-mode-toggle {
    background-color: transparent;
    color: var(--Lpurple);
    border: none;
    padding: 0;
}

footer li {
    list-style: none;
    margin-right: 1rem;
}

footer {
    text-align: right;
    border-top: .125rem solid var(--Lpurple);
}

#aboutMeContent {
    width: 60rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    row-gap: 2rem;
    margin: 0 auto;
}

#aboutMeContent img{
    width: 100%;
}

#aboutMeContent div {
    padding: .5rem;
    margin: .5rem;
}

#experienceBoxes {
    margin: 2rem;
}

.skills {
    display: flex;
    column-gap: 2rem;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.skills ul {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.skills li {
    text-decoration: none;
    display: flex;
    column-gap: .5rem;
}

.skills div {
    background-color: var(--white);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.r1 div:first-of-type {
    background-color: var(--Dpurple);
}

.r2 div:not(:last-of-type) {
    background-color: var(--Dpurple);
}

.r3 div {
    background-color: var(--Dpurple);
}

.full__two_column {
    display: flex;
    margin: 0 auto;
}

.full__two_column > * {
    flex: 1;
    row-gap: 2rem;
}

.infoBoxDiv {
    border: .125rem solid var(--Lpurple);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.infoBoxDiv:not(:last-of-type) {
    margin-right: 2rem;
}

button {
    margin-top: 1rem;
    border: .25rem solid var(--Lpurple);
    border-radius: 1rem;
    background-color: var(--Dpurple);
    color: var(--white);
    font-size: 2rem;
    padding: 1rem;
}

.container {
    display: grid;
    place-items: center;
}

.titleInfo {
    display: flex;
    justify-content: space-between;
}

#experienceBoxes li {
    font-size: .875rem;
    margin-left: 1rem;
}

.image-slider {
    position: relative;
    height: 50vh;
    overflow: hidden;
    width: 95vw;
    margin: 0 auto;
}

.image-slider ul {
    height: 100%;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
}

.image-slider li {
    width: calc((100% - 9rem)/4);
    display: inline-block;
    margin: 0 3rem 0 0;
}

.image-slider img {
    width: 100%;
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.image-slider button {
    background-color: transparent;
    border: none;
    position: absolute;
    height: 100%;
    z-index: 10;
    font-size: 3rem;
    cursor: pointer;
}

.fa-chevron-left, .fa-chevron-right{
    color: var(--white);
    background-color: transparent;
}

.left {
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), var(--black), rgba(0,0,0,0));
}

.right {
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), var(--black), rgba(0,0,0,0));
}

hr {
    border: var(--Lpurple) solid .0625rem;
}

#art ~ h2 {
    text-align: left;
    margin-left: 2rem;
}

#art + h2 {
    margin-top: 1rem;
}

.image-slider:last-of-type {
    margin-bottom: 2rem;
}

.proCard {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.proCard img {
    grid-row: span 2;
    width: 100%;
}

.proDesc, .proCard {
    padding: 2rem;
}

@media screen and (max-width: 999px) {
    #aboutMeContent {
        width: 100%;
    }

    .full__two_column{
        flex-direction: column;
        row-gap: 0;
    }

    .infoBoxDiv:not(:last-of-type) {
        margin-right: auto;
    }

    .proCard {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
    }
}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #h1Programming {
        font-size: 3rem;
        margin-bottom: 0;
    }

    .h2Programming {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    #menu {
        flex-direction: column;
    }

    #menu ul li a {
        font-size: 1.5rem;
    }

    #nav_options li {
        margin-left: 0;
    }

    #nav_options {
        display: flex;
        column-gap: 1.5rem;
    }

    #name_Nav {
        margin-top: 1rem;
    }

    #aboutMeContent {
        flex-direction: column;
        row-gap: 0;
    }

    button {
        margin-top: 2rem;
    }

    .skills {
        flex-direction: column;
        row-gap: 1rem;
    }

    .skills li {
        justify-content: center;
    }

    .nav {
        position: relative;
    }

    #light-mode-toggle {
        position: absolute;
        right: 1rem;
        top: 0;
    }

    #nav_options li:first-of-type {
        margin-left: 2rem;
    }

    .image-slider li {
        width: 100%;
    }

    .image-slider {
        height: 70vh;
    }
}