:root {
    background: #000000;
    color: #FFFFFF;
    font-family: myFont;
}

body {
    margin:0;
    padding: 0;
}

@font-face {
  font-family: myFont;
  src: url(../hack/Hack-Regular.ttf);
}

@font-face {
  font-family: myFont;
  src: url(../hack/Hack-Bold.ttf);
  font-weight: bold;
}

Header {
    width: 100%;
}

h1, h2, h3 {
    text-align: center;
}

h1, h2 {
    margin: 2rem auto 1rem auto;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3rem;
    margin: 1rem;
}

p {
    margin: 0;
    font-size: .875rem;
}

/*#h1HomePage {
    margin: 2rem auto 1rem auto;
}*/

.nav {
    background: #000000;
    color: #A538FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 1rem;
}

nav {
    border-bottom: .125rem solid #A538FF;
    /*margin-top: 1rem;
    border: .125rem solid #A538FF;
    border-radius: 1rem;*/
}

nav a, footer a {
    color: #A538FF;
    text-decoration: none;
    font-size: 2rem;
}

#nav_options li{
    display: inline-block;
    margin-left: 2rem;
}

footer li {
    list-style: none;
    margin-right: 1rem;
}

footer {
    text-align: right;
    border-top: .125rem solid #A538FF;
    /*margin-bottom: 1rem;
    border: .125rem solid #A538FF;
    border-radius: 1rem;*/
}

#aboutMeContent {
    width: 60rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    row-gap: 2rem;
    margin: 0 auto;
}

#aboutMeContent img{
    width: 100%;
}

#aboutMeContent div {
    padding: .5rem;
    margin: .5rem;
}

#experienceBoxes {
    margin: 2rem;
}

.full__two_column {
    display: flex;
    flex: 1;
    flex-direction: row;
    row-gap: 2rem;
    margin: 0 auto;
}

.infoBoxDiv {
    border: .125rem solid #A538FF;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.infoBoxDiv:not(:last-of-type) {
    margin-right: 2rem;
}

button {
    margin-top: 1rem;
    border: .25rem solid #A538FF;
    border-radius: 1rem;
    background-color: #7A21D4;
    color: #FFFFFF;
    font-size: 2rem;
    padding: 1rem;
}

.container {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 999px) {
    #aboutMeContent {
        width: 100%;
    }

    .full__two_column{
        flex-direction: column;
        row-gap: 0;
    }

    .infoBoxDiv:not(:last-of-type) {
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) {
}