---
const pageTitle = "Art";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle = {pageTitle}>
	<!-- slot in base layout -->
     <h1>{ pageTitle }</h1>
	Not lorem ipsum
</BaseLayout>