---
const pageTitle = "Home"
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout pageTitle = {pageTitle}>
	<!-- slot in base layout -->
	<section>
		<img src="/pexels-arina-krasnikova-7725950.jpg" alt="black cat laying on the floor" width="30%">
		<p>Lorem ipsum</p>
	</section>
</BaseLayout>