---
import Navigation from './Navigation.astro'
---
<header>
    <strong>WebCo</strong>
    <form id = "search">
        <input name = "search" type = "text" class="input__rounded" aria-label="Search">
        <button type = "submit"><i class = "fa fa-search"></i></button>
    </form>
    <nav>
        <Navigation />
        <label class="mode-toggle">
            <input type="checkbox" id="dark-mode-toggle" name="toggle">
            <span class="slider"></span>
        </label>
    </nav>
</header>
