---
---
<div id = "menu" class = "nav">
    <a href = "/" id = "name_Nav">Rieger</a>
    <ul id="nav_options">
        <li><a href = "/" class="nav_options">Home</a></li>
        <li><a href = "/programming" class="nav_options">Programming</a></li>
        <li><a href = "/art" class="nav_options">Art</a></li>
    </ul>
</div>